<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- Permissão de acesso a verificar o estado das conexões de rede -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Permitir que o aplicativo acesse a internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permissão de acesso à Camera -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Permissão de acesso as fotos -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- Permissão de acesso as fotos -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Permissão necessária para Foreground Services -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- A partir do Android 13 (API 33), notificações precisam de permissão -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- A partir do Android 14, esta permissão também é necessária para dataSync -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:name=".MeuApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppAdoteJrTLRF"
        tools:targetApi="31">

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <activity
            android:name=".ValidarCriancaOutrosActivity"
            android:exported="false"
            android:parentActivityName=".GerenciamentoActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ValidarCriancaActivity"
            android:exported="false"
            android:parentActivityName=".GerenciamentoActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CartaoActivity"
            android:exported="false" />
        <activity
            android:name=".DadosCriancaActivity"
            android:exported="false"
            android:parentActivityName=".GerenciamentoActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".RedefinirSenhaDeslogadoActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChecarAcessoActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GerenciamentoActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".RedefinirSenhaActivity"
            android:exported="false"
            android:parentActivityName=".GerenciamentoActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CadastroActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>